.navbar {
	background-image: url( bg.jpg );
}

.navbar a {
	color: white;
}

.navbar p {
	color: white;
	font-size: 20px;
}

.navbar ul li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline;
}

h6.post-title {
	width: 250px;
	margin: 0;
	padding: 0;
	color: #343a40;
	padding-top: 6px;
	padding-bottom: 1px;
}

h3.post-title  {
	margin: 0;
	padding: 0;
	color: #343a40;
	padding-top: 6px;
	padding-bottom: 1px;
}

p.post-subtitle {
	font-size: 12px;
}

a.post-title {
	width: 250px;
	margin: 0;
	padding: 0;
	color: #343a40;
	padding-top: 6px;
	padding-bottom: 1px;
}

a.navbar-brand.logo {
	font-weight: bold;
	font-size: 23px;
}

.center_div{
    margin: 0 auto;
    width:80% /* value of your choice which suits your alignment */
}